## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.mdf
*.ldf

## NuGet
packages/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User-specific files
*.rsuser
*.sln.docstates
